@{
    ViewData["Title"] = "About";
}

<div class="container">

    <h1>@ViewData["Title"]</h1>

    <p>
        We are a game store that specializes in providing the best games for the best prices.
        We have a wide selection of games for all platforms.
        We also have a wide selection of accessories and merchandise for all your gaming needs.
    </p>

</div>

<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 mb-3">
                <img src="~/images/game-1.jpeg" class="img-fluid rounded" alt="Image 1">
            </div>
            <div class="col-md-3 mb-3">
                <img src="~/images/game-2.jpeg" class="img-fluid rounded" alt="Image 2">
            </div>
            <div class="col-md-3 mb-3">
                <img src="~/images/game-3.jpeg" class="img-fluid rounded" alt="Image 3">
            </div>
            <div class="col-md-3 mb-3">
                <img src="~/images/game-4.jpeg" class="img-fluid rounded" alt="Image 4">
            </div>
        </div>
    </div>
</section>