@* @model List<Entities.Entities.Game> *@

@{
    ViewBag.Title = "Games";
}
<script src="~/js/game-index.js" asp-append-version="true"></script>
<div class="container text-white">

    <h2>
        Games
    </h2>

    <div class="add-button-page-container">
        <!-- This is the button that will open the modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="prepareCreateGame()">
            Add New Game
        </button>
    </div>

    <!-- This is the modal that will be displayed when the user clicks on the "Add" button -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-dark">
                        Add Game
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        @* Game Id input *@
                        <input type="hidden" id="game-id" />
                        @* Game Name input *@
                        <div class="row">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       id="game-name" placeholder="Name" />
                            </div>
                        </div>
                        @* Game Description input *@
                        <div class="row">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       id="game-description" placeholder="Description" />
                            </div>
                        </div>
                        @* Release Date input *@
                        <div class="row">
                            <div class="form-group">
                                <input type="date" class="form-control"
                                       id="game-release-date" placeholder="Release Date" />
                            </div>
                        </div>
                        @* Price input *@
                        <div class="row">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       id="game-price" placeholder="Price" />
                            </div>
                        </div>
                        @* Genre input *@
                        <div class="row">
                            <div class="form-group">
                                <select name="genre" class="form-control" id="game-genre"></select>
                            </div>
                        </div>
                        @* Publisher input *@
                        <div class="row">
                            <div class="form-group">
                                <select name="publisher" class="form-control" id="game-publisher"></select>
                            </div>
                        </div>
                        @* Platform input *@
                        <div class="row">
                            <div class="form-group">
                                <select name="platform" class="form-control" id="game-platform"></select>
                            </div>
                        </div>
                        @* Error message paragraph *@
                        <p id="error-message"></p>
                    </form>
                </div>
                <div class="modal-footer">
                    @* Add Product Button *@
                    <button type="button" class="btn btn-outline-primary" id="create-button" onclick="CreateGame()">
                        Add Game
                    </button>
                    @* Update Product Button *@
                    <button type="button" class="btn btn-outline-primary" id="update-button" onclick="UpdateGame()">
                        Update Game
                    </button>
                </div>
            </div>
        </div>
    </div>


    <table class="table table-bordered table-hover text-white">
        <thead>
            <tr>
                <th>publisherId</th>
                <th>platformId</th>
                <th>gameName</th>
                <th>genreId</th>
                <th>price</th>
                <th>releaseDate</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody class="tbody">
        </tbody>
    </table>

</div>
