html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 0;
    margin-bottom: 60px;
    background-color: #000;
    color: #fff;
}

.hero-banner {
    margin-top: 0;
    background-image: url("../images/hero-banner.png");
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

section {
    padding: 4rem 0;
}
